# Database env variables
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=glebasty
POSTGRES_PASSWORD=qwerty
POSTGRES_DB=betmanager
PORT=5000

# Development server variables
DEV_PORT=5000

# Crypt variables
JWT_SECRET=secret

# Email variables
EMAIL_USERNAME=bet.manager.ask@gmail.com
EMAIL_PASSWORD=betmanager12345
MAILER_SERVICE_PROVIDER=gmail

BOT_TOKEN=
PUBLIC_GROUP_ID=
PRIVATE_GROUP_ID=
